<div style=" background-color: #F1F1F1; ">
    <div style="padding: 100px;">
        <br>
        <p style="text-align: center">At your Service,</p>
        <p style="text-align: center">Team Customer Support @ Mockitt</p>
        <p style="text-align: center">Email: <a style="color: blue;">info@mockitt.in</a></p>
        <br>
        <div style="padding: 10px 10px 0 0">
            <img src="https://cdn.clipart.email/52708b58ae9321650e8ed05ea20649cd_white-instagram-logo-download-free-clip-art-with-a-transparent-_840-880.jpeg"
                alt="instagram-logo" height="35px" width="35px"
                style="padding: 23px; align-items: center; margin-left: 80px" />
            <img src="https://www.clipartmax.com/png/small/254-2540548_500-twitter-logo-latest-twitter-logo-icon-gif-transparent-twitter-logo-grey.png"
                alt="twitter-logo" height="35px" width="35px" style="padding: 23px; align-items: center;" />
        </div>
    </div>

</div>